{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}

{% block body %}
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card shadow-sm">
					<div class="card-header bg-primary text-white text-center">
						<h3>Modifier mon profil</h3>
					</div>
					<div class="card-body">
						{{ form_start(profileForm) }}
						<div class="mb-3">
							{{ form_label(profileForm.email, 'Adresse e-mail', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(profileForm.email, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(profileForm.email) }}
						</div>

						<div class="mb-3">
							{{ form_label(profileForm.plainPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(profileForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(profileForm.plainPassword.first) }}
						</div>

						<div class="mb-3">
							{{ form_label(profileForm.plainPassword.second, 'Répétez le mot de passe', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(profileForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(profileForm.plainPassword.second) }}
						</div>

                        <div class="mb-3">
                            {{ form_label(profileForm.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(profileForm.username, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(profileForm.username) }}
                        </div>

						<button type="submit" class="btn btn-success w-100">Mettre à jour</button>
						{{ form_end(profileForm) }}

						<a href="{{ path('app_profile') }}" class="btn btn-outline-secondary w-100 mt-2">Retour</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

