{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-md-6">

				<div class="card shadow-sm">
					<div class="card-header bg-primary text-white text-center">
						<h3>Mon profil</h3>
					</div>
					<div class="card-body">

						<p>
							<strong>Email :</strong>
							{{ app.user.email }}</p>
                        <p>
                            <strong>Nom d'utilisateur :</strong>
                            {{ app.user.username }}</p>
                        <p>
                            <strong>Date d’inscription :</strong>
                            {{ user.createdAt|date('d/m/Y') }}</p>
                        <p>
							<strong>Compte vérifié :</strong>
							{% if app.user.isVerified %}
								<span class="badge bg-success">Oui</span>
							{% else %}
								<span class="badge bg-warning">Non</span>
							{% endif %}
						</p>
                        {% if is_granted('ROLE_MODERATOR') or is_granted('ROLE_ADMIN') %}
                            <hr>
                            <h2>Statistiques de modération</h2>
                            <ul>
                                <li>Commentaires en attente :
                                    {{ stats.pendingComments }}</li>
                                <li>Commentaires approuvés :
                                    {{ stats.approvedComments }}</li>
                            </ul>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <hr>
                            <h2>Statistiques administrateur</h2>
                            <ul>
                                <li>Nombre total d’utilisateurs :
                                    {{ stats.totalUsers }}</li>
                                <li>Nombre d’administrateurs :
                                    {{ stats.totalAdmins }}</li>
                            </ul>
                        {% endif %}


						<a href="{{ path('app_edit_profile') }}" class="btn btn-primary w-100 mb-2">Modifier mon profil</a>
						<a href="{{ path('app_change_password') }}" class="btn btn-secondary w-100 mb-2">Changer le mot de passe</a>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                            <a href="{{ path('admin') }}" class="btn btn-sm btn-warning w-100 mb-2">
                                Administration
                            </a>
                        {% endif %}

						<a href="{{ path('app_logout') }}" class="btn btn-outline-danger w-100">Se déconnecter</a>

					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}

