{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
		<div class="card shadow-lg border-0 rounded-3" style="width: 500px;">
			<div class="card-body p-4">
				<h1 class="h4 text-center mb-4">📝 Créer un compte</h1>

				{{ form_start(registrationForm) }}

				<div class="mb-3">
					{{ form_label(registrationForm.email, 'Adresse e-mail', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(registrationForm.email) }}
				</div>

                <div class="mb-3">
                    {{ form_label(registrationForm.username) }}
                    {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.username) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword.first) }}
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.second) }}
                </div>

                <div class="mb-3 form-check">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

				<button type="submit" class="btn btn-success w-100">S’inscrire</button>

				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}

