<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0096c7;">
	<div class="container">
		<a class="navbar-brand" href="{{ path('app_home') }}">🌍 Blog Voyages</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_post_index') }}">Articles</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_profile') }}">Mon Profil ({{ app.user.username }})</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
